{{#extend "stylesheets"}}
    <link rel="stylesheet" href="stylesheets/index.css">
{{/extend}}

<div id="home-content">
    <div id="envelope"></div>
    <a id="fb-btn" href="/connect/fb"></a>
    <div id="home-info">
    	<p>We get only your email id &amp; public profile.</p>
        <p>This is an open source project. Code on <a href="http://github.com/maheshj567/vayu" target="_blank">Github</a>.</p>
    </div>
    <div id="home-help" data-reveal-id="info-modal" data-reveal></div>
</div>

<div id="info-modal" class="reveal-modal tiny" data-reveal>
    <h2>What is Vayu? You ask..</h2>
    <p>It's a very simple todo's app to help you get things done.</p>
</div>


{{#extend "scripts"}}
{{/extend}}