<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
	<!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<meta name="application-name" content="Vayu"/> 
	    <meta name="description" content="Get things done!"/> 

		<!-- Set the viewport width to device width for mobile -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Vayu - {{title}}</title>

		<meta name="application-url" content="http://vayu.io/me" /> 

	    <link rel="icon" sizes="32x32" href="images/icon_32.png" /> 
	    <link rel="icon" sizes="48x48" href="images/icon_48.png" />
	    <link rel="icon" sizes="128x128" href="images/icon_128.png" />
	    <link rel="icon" sizes="196x196" href="images/icon_196.png" />

	    <link rel="shortcut icon" sizes="196x196" href="images/icon_196.png" />
		<link rel="shortcut icon" sizes="128x128" href="images/icon_128.png" />
		<link rel="apple-touch-icon" sizes="128x128" href="images/icon_128.png" />
		<link rel="apple-touch-icon-precomposed" sizes="128x128" href="images/icon_128.png" />

		<link rel="stylesheet" href="stylesheets/normalize.css" />
		<link rel="stylesheet" href="stylesheets/foundation.css" />

		<!-- using rel="prefetch" to solve issue with CORS error for webfonts when using prefixfree -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans|Anonymous+Pro:400,700|' rel='stylesheet prefetch' type='text/css'>
		<link rel="stylesheet" href="stylesheets/popbox.css" />
		<link rel="stylesheet" href="stylesheets/app.css" />

		{{{block "stylesheets"}}}

		<script src="javascripts/vendor/prefixfree.min.js"></script>
		<script src="javascripts/vendor/modernizr.js"></script>

		<!-- IE Fix for HTML5 Tags -->
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<script>
			var _prum = [['id', '{{tpConfig.pingdomID}}'],
			             ['mark', 'firstbyte', (new Date()).getTime()]];
			(function() {
			    var s = document.getElementsByTagName('script')[0]
			      , p = document.createElement('script');
			    p.async = 'async';
			    p.src = '//rum-static.pingdom.net/prum.min.js';
			    s.parentNode.insertBefore(p, s);
			})();
		</script>

	</head>
	<body>
		{{{body}}}
		
		<script src="javascripts/vendor/jquery.js"></script>
		<script src="javascripts/vendor/fastclick.js"></script>
		
		<script src="javascripts/foundation/foundation.js"></script>
		<script src="javascripts/foundation/foundation.reveal.js"></script>
		<script src="javascripts/vendor/underscore.js"></script>
		<script src="javascripts/vendor/backbone.js"></script>
		<script src="javascripts/vendor/popbox.js"></script>
		<script src="javascripts/vendor/jquery.autosize.js"></script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', '{{tpConfig.gaToken}}', '{{tpConfig.gaDomain}}');
		  ga('send', 'pageview');

		</script>
		
		<script>
            $(document).foundation();
        </script>
		
		{{{block "scripts"}}}
	</body>
</html>
