{{#extend "stylesheets"}}
{{/extend}}

<aside id="sidebar">
    <div id="logo"></div>
    <div id="add-btn">
        <img src="images/add_icon.png">
        <a class="open" href="#">Add board</a>
        <div class='collapse'>
            <div class='box'>
                <div class='arrow'></div>
                <div class='arrow-border'></div>
                <form id="board-form" class="popbox-content">
                    <div class="input">
                        <input type="text" name="cm-name" id="board-name" placeholder="Give your board a name" />
                    </div>
                    <input type="submit" value="Hit it!" class="secondary button" />
                    <a href="#" class="close">Cancel</a>
                </form>
            </div>
        </div>
    </div>
    <nav id="boards-nav">
        <ul id="boards-list"></ul>
    </nav>
</aside>
<div id="paper-fold"></div>
<div id="right-toolbar">
    <p id="selected-board"></p>
    <div id="add-card-btn">
        <a class="open" href="#">Add Card</a>
        <div class='collapse'>
            <div class='box'>
                <div class='arrow'></div>
                <div class='arrow-border'></div>
                <form id="card-form" class="popbox-content">
                    <div class="input">
                        <input type="text" name="cm-name" id="card-name" placeholder="Give your card a name" />
                    </div>
                    <input type="submit" value="Hit it!" class="secondary button" />
                    <a href="#" class="close">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="cards"></div>

{{#extend "scripts"}}
    <script data-main="javascripts/main.js" src="javascripts/vendor/require.js"></script>
    <script type="text/javascript">
        requirejs.config({
          paths: {
            "text": "vendor/text"
          }
    });
    </script>
{{/extend}}