/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

body
{
	background-image: url('../images/noisy_grid.png');
	background-attachment: fixed;
	color: #646464;
	font-size: 24px;
	overflow-x: hidden;
	min-width: 1024px;
}

li
{
	list-style: none;
}

input[type="text"]
{
	height: 40px;
	font-size: 18px;
}

.button
{
	font-size: 20px;
	padding: 8px 20px 8px;
}

[contenteditable]:hover, [contenteditable]:focus {
  background: #FFFFD3;
}

#sidebar
{
	display: inline-block;
	width: 300px;
	background-image: url('../images/sidebarbg.png');
	background-repeat: repeat-y;
	position: fixed;
	height: 100%;
	z-index: 10000;
}

#logo
{
	display: block;
	width: 300px;
	height: 85px;
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	background-position: center;
}

#toolbar
{
	display: block;
	width: 300px;
	height: 76px;
	background-image: url('../images/toolbarbg.png');
	background-repeat: no-repeat;
	font-family: 'Lato', sans-serif;
	margin-top: -11px;
}

#toolbar li
{
	font-size: 24px;
	font-weight: 300;
	display: inline-block;
	margin: 15px 15px 0px 30px; 
}

#toolbar a
{
	color: #646464;
}

#toolbar a:hover
{
	color: #666666;
}

#add-btn
{
	background-image: url('../images/add_icon.png');
	background-repeat: no-repeat;
	background-position: 0px 8px;
	padding-left: 25px;	
}

#reset-btn
{
	background-image: url('../images/refresh_icon.png');
	background-repeat: no-repeat;
	background-position: 0px 8px;
	padding-left: 25px;
}

#boards-list li
{
	font-family: 'Anonymous Pro', sans-serif;
	padding: 0px 0px 0px 30px;
}

#boards-list a
{
	font-size: 30px;
	color: #FCFCFC;
	display: block;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#boards-list a:hover
{
	color: #F0F0F0;
}

#boards-list a:active
{
	margin: 0px 0px 0px 1px;
}

#boards-list .selected
{
	background-image: url('../images/selected_highlight.png');
	background-repeat: no-repeat;
}

#paper-fold
{
	background-image: url('../images/paper_fold.png');
	background-repeat: no-repeat;
	display: block;
	width: 122px;
	height: 133px;
	position: fixed;
	left: 330px;
	top: 18px;
	z-index: 1;
	visibility: hidden;
}

#right-toolbar
{
	background-image: url('../images/right_toolbar_bg.png');
	background-repeat: repeat-x;
	display: block;
	height: 62px;
	position: fixed;
	left: 452px;
	top: 18px;
	z-index: 1;
	visibility: hidden;
}

#right-toolbar p
{
	display: inline-block;
	padding: 8px 0px 0px 0px;
	font-family: 'Anonymous Pro', sans-serif;
	font-size: 30px;
}

#add-card-btn
{
	display: inline-block;
	float: right;
	margin: 20px 20px 0px 0px;
}

#add-card-btn .open
{
	background-image: url('../images/add_icon.png');
	background-repeat: no-repeat;
	background-position: 0px 8px;
	color: #646464;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	font-weight: 300;
	padding: 3px 0px 0px 25px;	
}

#card-form a
{
	font-family: 'Lato', sans-serif;
	color: #646464;
	font-weight: 300;
	margin-left: 10px;
}

#cards
{
	display: inline-block;
	position: absolute;
	padding: 0px 0px 0px 400px;
	width: 99%;
	left: 0px;
	top: 150px;
	
	-webkit-column-count: 4;
	-webkit-column-gap: 20px;
	-webkit-column-fill: auto;
	-moz-column-count: 4;
	-moz-column-gap: 20px;
	-moz-column-fill: auto;
	column-count: 4;
	column-gap: 20px;
	column-fill: auto;
}

.card
{
	display: inline-block;
	width: 300px;
	background-color: #FCFCFC;
	border-radius: 5px;
	box-shadow: 0px 1px 5px #CCCCCC;
	-moz-box-shadow: 0px 1px 5px #CCCCCC;
	-webkit-box-shadow: 0px 1px 5px #CCCCCC;
	min-height: 500px;
	margin-bottom: 50px;
	
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
}

.card-title
{
	font-family: Dosis, sans-serif;
	color: #FCFCFC;
	padding: 10px 10px 0px 10px;
	font-size: 30px;
	text-align: center;
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	height: 50px;
	background-color: #646464;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap
}

.dodo-list li
{
	min-height: 50px;
	background-image: url('../images/hor_sep.png');
	background-repeat: repeat-x;
	background-position: bottom;
	margin: 0px 3px 0px 3px;
}

.dodo-list li:last-of-type
{
	background: none;
}

.dodo-list a
{
	font-family: Lato, sans-serif;
	font-size: 24px;
	color: #646464;
	display: block;
	padding: 10px 10px 0px 10px;
	min-height: 50px;
}

.dodo-list a:hover
{
	color: #333333;
}

.done-dodo a
{
	background-image: url('../images/tick.png');
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-left: 35px;
	color: #888888;
	text-decoration: line-through;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

.new-dodo
{
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px)  and (max-device-width : 1024px) {
	
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

@media only screen and (max-width : 1024px) {
	#cards
	{
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
	
	.card
	{
		width: 270px;
	}
	
	body
	{
		overflow-x: visible;
	}
}


@media only screen and (min-width : 1024px) and (max-width : 1280px){
	#cards
	{
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
	
	.card
	{
		width: 270px;
	}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1280px) and (max-width : 1400px){
	#cards
	{
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
	
	.card
	{
		width: 270px;
	}
}


@media only screen and (min-width : 1400px) and (max-width : 1700px){
	#cards
	{
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
	
	.card
	{
		width: 300px;
	}
}

@media only screen and (min-width : 1700px) and (max-width : 1824px){
	#cards
	{
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
	
	.card
	{
		width: 400px;
	}
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
	#cards
	{
		-webkit-column-count: 4;
		-webkit-column-gap: 10px;
		-moz-column-count: 4;
		-moz-column-gap: 10px;
		column-count: 4;
		column-gap: 10px;
	}
	
	.card
	{
		width: 300px;
	}
}